n8n/zuk_email_agent_prototype_v1.json
{
  "id": "fEejzwIFeoSDGVm6",
  "name": "ZUK - Email Booking Agent (Prototype v1)",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "fetchType": "all",
        "filters": {},
        "options": {}
      },
      "id": "node-outlook-trigger",
      "name": "New Email (Outlook Trigger)",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [0, 320],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "RMRz9wntFr8TCs3X",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f-from",
              "name": "from",
              "value": "={{ $json.from?.emailAddress?.address || $json.from?.address || $json.from }}",
              "type": "string"
            },
            {
              "id": "f-to",
              "name": "to",
              "value": "={{ Array.isArray($json.to) ? $json.to.join(', ') : ($json.to || ($json.toRecipients || []).map(r => r.emailAddress?.address).join(', ')) }}",
              "type": "string"
            },
            {
              "id": "f-subject",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "f-body",
              "name": "body",
              "value": "={{ $json.body?.content || $json.bodyPreview }}",
              "type": "string"
            },
            {
              "id": "f-msgid",
              "name": "messageId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f-convid",
              "name": "conversationId",
              "value": "={{ $json.conversationId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-normalize",
      "name": "Normalize Email Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 320]
    },
    {
      "parameters": {
        "jsCode": "// Pre-classify which house / responsible area the email belongs to,\n// based on the address it was sent to. This mirrors how the ZUK team\n// already uses the old mailbox addresses as a routing signal.\n\nconst to = ($json.to || '').toLowerCase();\n\nlet houseHint = 'unknown';\nlet responsibleArea = 'unassigned';\n\nif (to.includes('jugendherberge') || (to.includes('info') && to.includes('dboe'))) {\n  houseHint = 'Jugendherberge';\n  responsibleArea = 'Jugendherberge bookings';\n} else if (to.includes('streidel') || to.includes('aktionszentrum')) {\n  houseHint = 'Aktionszentrum';\n  responsibleArea = 'Aktionszentrum bookings';\n}\n\nreturn [{\n  json: {\n    ...$json,\n    house_hint: houseHint,\n    responsible_area: responsibleArea\n  }\n}];"
      },
      "id": "node-routing",
      "name": "Detect Routing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 320]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "node-openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [620, 540],
      "credentials": {
        "openAiApi": {
          "id": "KNbs9IV7QsyP8Jem",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"request_count\": { \"type\": \"number\" },\n    \"summary\": { \"type\": \"string\" },\n    \"requests\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"school_name\": { \"type\": \"string\" },\n          \"contact_person\": { \"type\": \"string\" },\n          \"program_type\": { \"type\": \"string\" },\n          \"house\": { \"type\": \"string\" },\n          \"date_range\": { \"type\": \"string\" },\n          \"number_of_people\": { \"type\": \"string\" },\n          \"grade_level\": { \"type\": \"string\" },\n          \"special_requirements\": { \"type\": \"string\" },\n          \"missing_fields\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n          \"status\": { \"type\": \"string\" },\n          \"contains_sensitive_data\": { \"type\": \"boolean\" },\n          \"sensitive_data_note\": { \"type\": \"string\" }\n        },\n        \"required\": [\"status\", \"missing_fields\", \"contains_sensitive_data\"]\n      }\n    }\n  },\n  \"required\": [\"requests\", \"request_count\"]\n}"
      },
      "id": "node-output-parser",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [800, 540]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an assistant for the booking team at Kloster Benediktbeuern (Don Bosco Jugendwerk), a youth education center in Bavaria. Incoming emails come from teachers and group leaders, usually in German, requesting stays for school classes and youth groups.\n\nMost of these emails ARE booking inquiries, so your default is to extract them. Only skip an email when it is CLEARLY not a booking inquiry: automated system notifications (OneDrive or SharePoint sharing, calendar invites), newsletters, out-of-office auto-replies, delivery or read receipts, or spam. In that single case, return request_count 0 and an empty requests array and invent nothing. If the email mentions a group or class, dates, a number of people, or a stay or program — even when the sender or some details are missing — then it IS a booking inquiry and you must extract it. When in doubt, treat it as a booking inquiry.\n\nFor a booking inquiry, extract EVERY booking request it contains. One email often holds several separate requests, for example different dates or different classes. Treat each as its own request.\n\nEMAIL METADATA\nFrom: {{ $json.from }}\nSent to: {{ $json.to }}\nSubject: {{ $json.subject }}\nHouse hint from address: {{ $json.house_hint }}\n\nEMAIL BODY\n{{ $json.body }}\n\nFor each request, extract: school_name, contact_person, program_type, house, date_range, number_of_people, grade_level, special_requirements.\n\nRouting rules for the house field: a Schullandheim request belongs to the Jugendherberge. An Orientierungstage or Besinnungstage request belongs to the Aktionszentrum. Use the house hint when the body is ambiguous. Leave house empty if you genuinely cannot tell.\n\nmissing_fields: list any required field that is absent from the email. Required fields are date_range, number_of_people, program_type and school_name.\n\nstatus: set to \"complete\" only if date_range, number_of_people and program_type are all present. Otherwise set to \"needs_info\".\n\ncontains_sensitive_data: true if the email mentions health conditions, mental health, allergies tied to a named person, or any GDPR special category data.\n\nsensitive_data_note: briefly describe the category detected, in German. Never copy the sensitive details verbatim. Leave empty if there is none.\n\nAlso return request_count and a short summary in German written for the staff member.\n\nNever invent information that is not present in the email.",
        "hasOutputParser": true
      },
      "id": "node-extract",
      "name": "Extract Booking Requests",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [680, 320]
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.requests",
        "options": {}
      },
      "id": "node-split",
      "name": "Split Requests",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [920, 320]
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "ctx-from",
              "name": "customer_email",
              "value": "={{ $('Normalize Email Fields').item.json.from }}",
              "type": "string"
            },
            {
              "id": "ctx-subject",
              "name": "original_subject",
              "value": "={{ $('Normalize Email Fields').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "ctx-thread",
              "name": "conversation_id",
              "value": "={{ $('Normalize Email Fields').item.json.conversationId }}",
              "type": "string"
            },
            {
              "id": "ctx-area",
              "name": "responsible_area",
              "value": "={{ $('Detect Routing').item.json.responsible_area }}",
              "type": "string"
            },
            {
              "id": "ctx-rawbody",
              "name": "raw_body",
              "value": "={{ $('Normalize Email Fields').item.json.body }}",
              "type": "string"
            },
            {
              "id": "ctx-channel",
              "name": "channel",
              "value": "email",
              "type": "string"
            },
            {
              "id": "ctx-summary",
              "name": "summary",
              "value": "={{ $('Extract Booking Requests').item.json.output.summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-context",
      "name": "Add Email Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1140, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "complete",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if",
      "name": "Is Info Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1360, 320]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "inquiries",
          "mode": "list",
          "cachedResultName": "inquiries"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tracker_status": "ready_for_review",
            "responsible_area": "={{ $json.responsible_area }}",
            "customer_email": "={{ $json.customer_email }}",
            "original_subject": "={{ $json.original_subject }}",
            "conversation_id": "={{ $json.conversation_id }}",
            "school_name": "={{ $json.school_name }}",
            "contact_person": "={{ $json.contact_person }}",
            "program_type": "={{ $json.program_type }}",
            "house": "={{ $json.house }}",
            "date_range": "={{ $json.date_range }}",
            "number_of_people": "={{ $json.number_of_people }}",
            "grade_level": "={{ $json.grade_level }}",
            "special_requirements": "={{ $json.special_requirements }}",
            "missing_fields": "={{ ($json.missing_fields || []).join(', ') }}",
            "contains_sensitive_data": "={{ $json.contains_sensitive_data }}",
            "sensitive_data_note": "={{ $json.sensitive_data_note }}",
            "channel": "={{ $json.channel }}",
            "summary": "={{ $json.summary }}",
            "raw_body": "={{ $json.raw_body }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "tracker_status",          "displayName": "tracker_status",          "required": true,  "type": "string" },
            { "id": "responsible_area",        "displayName": "responsible_area",        "required": false, "type": "string" },
            { "id": "customer_email",          "displayName": "customer_email",          "required": false, "type": "string" },
            { "id": "original_subject",        "displayName": "original_subject",        "required": false, "type": "string" },
            { "id": "conversation_id",         "displayName": "conversation_id",         "required": false, "type": "string" },
            { "id": "school_name",             "displayName": "school_name",             "required": false, "type": "string" },
            { "id": "contact_person",          "displayName": "contact_person",          "required": false, "type": "string" },
            { "id": "program_type",            "displayName": "program_type",            "required": false, "type": "string" },
            { "id": "house",                   "displayName": "house",                   "required": false, "type": "string" },
            { "id": "date_range",              "displayName": "date_range",              "required": false, "type": "string" },
            { "id": "number_of_people",        "displayName": "number_of_people",        "required": false, "type": "string" },
            { "id": "grade_level",             "displayName": "grade_level",             "required": false, "type": "string" },
            { "id": "special_requirements",    "displayName": "special_requirements",    "required": false, "type": "string" },
            { "id": "missing_fields",          "displayName": "missing_fields",          "required": false, "type": "string" },
            { "id": "contains_sensitive_data", "displayName": "contains_sensitive_data", "required": false, "type": "boolean" },
            { "id": "sensitive_data_note",     "displayName": "sensitive_data_note",     "required": false, "type": "string" },
            { "id": "channel",                 "displayName": "channel",                 "required": false, "type": "string" },
            { "id": "summary",                 "displayName": "summary",                 "required": false, "type": "string" },
            { "id": "raw_body",                "displayName": "raw_body",                "required": false, "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-pg-ready",
      "name": "Insert: Ready for Review",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1580, 200],
      "credentials": {
        "postgres": {
          "id": "bjtHqY4LrBLXQHrN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "inquiries",
          "mode": "list",
          "cachedResultName": "inquiries"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tracker_status": "needs_info",
            "responsible_area": "={{ $json.responsible_area }}",
            "customer_email": "={{ $json.customer_email }}",
            "original_subject": "={{ $json.original_subject }}",
            "conversation_id": "={{ $json.conversation_id }}",
            "school_name": "={{ $json.school_name }}",
            "contact_person": "={{ $json.contact_person }}",
            "program_type": "={{ $json.program_type }}",
            "house": "={{ $json.house }}",
            "date_range": "={{ $json.date_range }}",
            "number_of_people": "={{ $json.number_of_people }}",
            "grade_level": "={{ $json.grade_level }}",
            "special_requirements": "={{ $json.special_requirements }}",
            "missing_fields": "={{ ($json.missing_fields || []).join(', ') }}",
            "contains_sensitive_data": "={{ $json.contains_sensitive_data }}",
            "sensitive_data_note": "={{ $json.sensitive_data_note }}",
            "channel": "={{ $json.channel }}",
            "summary": "={{ $json.summary }}",
            "raw_body": "={{ $json.raw_body }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "tracker_status",          "displayName": "tracker_status",          "required": true,  "type": "string" },
            { "id": "responsible_area",        "displayName": "responsible_area",        "required": false, "type": "string" },
            { "id": "customer_email",          "displayName": "customer_email",          "required": false, "type": "string" },
            { "id": "original_subject",        "displayName": "original_subject",        "required": false, "type": "string" },
            { "id": "conversation_id",         "displayName": "conversation_id",         "required": false, "type": "string" },
            { "id": "school_name",             "displayName": "school_name",             "required": false, "type": "string" },
            { "id": "contact_person",          "displayName": "contact_person",          "required": false, "type": "string" },
            { "id": "program_type",            "displayName": "program_type",            "required": false, "type": "string" },
            { "id": "house",                   "displayName": "house",                   "required": false, "type": "string" },
            { "id": "date_range",              "displayName": "date_range",              "required": false, "type": "string" },
            { "id": "number_of_people",        "displayName": "number_of_people",        "required": false, "type": "string" },
            { "id": "grade_level",             "displayName": "grade_level",             "required": false, "type": "string" },
            { "id": "special_requirements",    "displayName": "special_requirements",    "required": false, "type": "string" },
            { "id": "missing_fields",          "displayName": "missing_fields",          "required": false, "type": "string" },
            { "id": "contains_sensitive_data", "displayName": "contains_sensitive_data", "required": false, "type": "boolean" },
            { "id": "sensitive_data_note",     "displayName": "sensitive_data_note",     "required": false, "type": "string" },
            { "id": "channel",                 "displayName": "channel",                 "required": false, "type": "string" },
            { "id": "summary",                 "displayName": "summary",                 "required": false, "type": "string" },
            { "id": "raw_body",                "displayName": "raw_body",                "required": false, "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-pg-needsinfo",
      "name": "Insert: Needs Info",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1580, 440],
      "credentials": {
        "postgres": {
          "id": "bjtHqY4LrBLXQHrN",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "New Email (Outlook Trigger)": {
      "main": [[ { "node": "Normalize Email Fields", "type": "main", "index": 0 } ]]
    },
    "Normalize Email Fields": {
      "main": [[ { "node": "Detect Routing", "type": "main", "index": 0 } ]]
    },
    "Detect Routing": {
      "main": [[ { "node": "Extract Booking Requests", "type": "main", "index": 0 } ]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[ { "node": "Extract Booking Requests", "type": "ai_languageModel", "index": 0 } ]]
    },
    "Structured Output Parser": {
      "ai_outputParser": [[ { "node": "Extract Booking Requests", "type": "ai_outputParser", "index": 0 } ]]
    },
    "Extract Booking Requests": {
      "main": [[ { "node": "Split Requests", "type": "main", "index": 0 } ]]
    },
    "Split Requests": {
      "main": [[ { "node": "Add Email Context", "type": "main", "index": 0 } ]]
    },
    "Add Email Context": {
      "main": [[ { "node": "Is Info Complete?", "type": "main", "index": 0 } ]]
    },
    "Is Info Complete?": {
      "main": [
        [ { "node": "Insert: Ready for Review", "type": "main", "index": 0 } ],
        [ { "node": "Insert: Needs Info", "type": "main", "index": 0 } ]
      ]
    }
  }
}
